# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b991bc66abc2aab6ecffa6217c6c9dc4f4bfc464c2ed57e8a196aa8befa66d4053b57d7357d1a4f08b51f6e496b1a207b725acda5e392443726dfa651c575d82

test:
  secret_key_base: b37fe6124ba6ebca8a9885f3482527ea0cb5a4d41c897328f90a4e97a40ead8c60dfcb5655e51e79ba42e9006ce6827dc90a7e9cfc03e4b4f709e6d84015b275

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: "{{ app_secret_key_base }}"
  secret_token: "{{ app_secret_token }}"
